img{
    width: 125px; 
    margin-bottom: 10px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div{
    display: grid;
    padding: 25px; 
    margin:5px; 
    text-align: center;
    border: 1px solid black;
}

@media all and (min-width: 800px){
    
    section{
        grid-template-columns: 1fr 1fr 1fr;
    }

    div:nth-child(odd){
        border: 1px solid black;
    }
}

section{
    grid-template-columns: 1fr 1fr;
    display: grid;
    text-align: center;

}
 

h1{
   text-align: center;
}

body{
    background-image: url('../images/background.jpeg');
}
